


:root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
}

body {
    background: var(--clr-bg);
    font-family: basic-sans, sans-serif;
    height: 100vh;
}

main {
    background: white;
    padding: 2%;
    margin: 5%;
}

h1 {
    color: var(--clr-primary)
}

/* NOTE - 'outline' doesn't add to the size, 'border' does -- great for debugging  */
p {
    color: var(--clr-body);
    outline: 3px solid red;
}

/* a {
    outline: 3px solid orchid;
} */

.bttn {
    display: inline-block;
    background: lightblue;
    color: black;
    padding: 75px 150px;
    text-decoration: none;
}

.bttn:hover {
    background: darkblue;
    color: white;
}